<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Créditos</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"> </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    

    <ion-card class="center">
      <ion-card-header>
        <ion-card-title>Desarrolladores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="center1">
          <ion-label>Nombres: </ion-label>
        </ion-item>
        <ion-item class="center">
          <ion-label>Alejandro Londoño</ion-label>
        </ion-item>
        <ion-item class="center">
          <ion-label>Camilo Caballero</ion-label>
        </ion-item>
        <ion-item class="center1">
          <ion-label>Universidad:</ion-label> 
        </ion-item>
        <ion-item class="center">
          <ion-label>Uniagustiniana</ion-label> 
        </ion-item>
        <ion-item class="center1">
          <ion-label>Carrera:</ion-label> 
        </ion-item>
        <ion-item class="center">
          <ion-label>Tecnología en desarrollo<br> de software</ion-label> 
        </ion-item>
        <ion-item class="center1">
          <ion-label>Semestre:</ion-label> 
        </ion-item>
        <ion-item class="center">
          <ion-label>Quinto</ion-label>
        </ion-item>
        

      </ion-card-content>
      </ion-card>
      
  
    
  
</ion-content>
