<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de estudiantes<br> nuevos
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"> </ion-menu-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-icon class="icono" name="document-text-outline"></ion-icon>
        <ion-card-subtitle>Descripción</ion-card-subtitle>
        <p>
          Está aplicación ayudará a llevar un mejor registro de los
          nuevos estudiantes guardando fácilmente sus datos para
          poder revisarlos posteriormente y realizar modificaciones.
        </p><br>
        <ion-icon class="icono" name="information-circle-outline"></ion-icon>
        <ion-card-subtitle>Instrucciones de uso</ion-card-subtitle>
        <p>
          Para poder realizar uso de la aplicación primero el usuario 
          se debe registrar, luego iniciará sesión con los datos registrados
          aquí se podrá loguear con el rol de estudiante o de administrador,
          el estudiante solo podrá visualizar información mientras que el 
          administrador podrá acceder a los datos y realizar modificaciones en
          los registros.
        </p>
      </ion-card-content>
    </ion-card>
 

</ion-content>
